.container{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  position:fixed;
}

.inputForm{
  box-shadow: 0px 0px 32px 5px rgba(0,0,0,0.1);
  padding: 10px;
  width: 50%;
  border-radius: 0.375rem;
  border: 1px solid grey;
  margin-right: 10px;
}

.colorPicker{
  padding: 5px;
  height: 2.4rem;
  border-radius: 0.375rem;
  border: 1px solid grey;
  margin-right: 10px;
}

.colorOption{
  border-radius: 10px;
  width: 50px;
  padding: 17px;
  margin-right: 10px;
  border: 1px solid grey;
}